<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.sympli.find_e">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.front" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />
    <uses-permission android:name="android.permission.CAMERA" />

    <supports-screens
        android:largeScreens="false"
        android:normalScreens="true"
        android:requiresSmallestWidthDp="600"
        android:smallScreens="true"
        android:xlargeScreens="false" />

    <application
        android:name=".ApplicationController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.main.StartActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeDark">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--<activity-->
            <!--android:name=".ui.main.CameraActivity"-->
            <!--android:screenOrientation="portrait"-->
            <!--android:theme="@style/AppThemeDark"/>-->

        <activity
            android:name=".ui.main.MainActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.main.CameraActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeDark">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->
<!---->
                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>

        <!--<activity-->
            <!--android:name=".ui.main.StartActivity"-->
            <!--android:screenOrientation="portrait" />-->

        <service
            android:name=".services.impl.BluetoothLeService"
            android:enabled="true" />
        <service android:name="com.mapbox.mapboxsdk.telemetry.TelemetryService" />

        <receiver
            android:name=".receiver.BluetoothStateReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.bluetooth.adapter.action.STATE_CHANGED" />
                <action android:name="android.bluetooth.device.action.FOUND" />
                <action android:name="android.bluetooth.device.action.ACTION_ACL_CONNECTED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.ConnectivityReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>